{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ]
    ],
    "plugins": [
        [
            "transform-object-rest-spread",
            {
                "useBuiltIns": true
            }
        ]
    ]
}


// {
//     "presets": [
//       ["@babel/preset-env", {
//         "targets": {
//           "node": "current"
//         }
//       }]
//     ],
//     "plugins": [
//       "@babel/plugin-transform-object-rest-spread",
//       "@babel/plugin-proposal-optional-chaining"
//     ]
//   }
